/* Notifications.css */

@import url('./global.css');

.notifications-container {
  max-width: 720px;
  margin: 5rem auto;
  padding: 2rem;
  background-color: var(--dark-element);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
  transition: transform 0.3s ease;
  width: 100%;
}

.notifications-container:hover {
  transform: scale(1.01);
}

h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 2rem;
  font-weight: bold;
}

.no-notifications {
  text-align: center;
  color: var(--text-light);
  font-size: 1.2rem;
  font-style: italic;
  opacity: 0.8;
}

.notifications-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notification-item {
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.notification-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.notification-item.warning {
  background-color: #ffe680;
  color: #664d00;
  border-left: 4px solid #ffcc00;
}

.notification-item.info {
  background-color: #d9edf7;
  color: #31708f;
  border-left: 4px solid #5bc0de;
}

.notification-item.alert {
  background-color: #f2dede;
  color: #a94442;
  border-left: 4px solid #ebccd1;
}

@media (max-width: 768px) {
  .notifications-container {
    padding: 1.5rem;
  }
  .notification-item {
    font-size: 0.9rem;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
